{% extends "landing/base.html" %}
{% block content %}

<h1>Profile</h1>
Email: {{user.email}}
<form method="POST">
    {% csrf_token %}
    <table>
        {% for field in u_form %}
        <tr>
            <td>{{field.label_tag}}</td>
            <td>{{field}}</td>
            
        {% for error in field.errors %}
        <td>
        <small style="color:red">{{error}}</small>
        </td>
        {% endfor %}
        <tr>
        
        {% endfor %}
        </table>
    
    <button class="btn btn-outline-info" type="submit">Update</button>
</form>
{% endblock %}